<!DOCTYPE HTML>
<html>
<head>
    <title>Начальная страница</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Привет, пользаватель</div>
<a href="/main">Основная Страница</a>
</body>
</html>